<div class="col-md-4">
    <div class="card mb-4 box-shadow h-100">
        <div class="card-body">
            <p class="card-text">
                {% if object.is_active %}
                    {{ object }}
                {% else %}
                    <span class="text-muted">{{ object }}</span>
                {% endif %}
            </p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    {% if perms.main.view_student %}
                        <a href="{% url 'main:student_view' object.pk %}" type="button" class="btn btn-sm btn-outline-secondary">К студенту</a>
                    {% endif %}
                    {% if perms.main.change_student %}
                        <a href="{% url 'main:update_student' object.pk %}" type="button" class="btn btn-sm btn-outline-primary">Изменить</a>
                    {% endif %}
                    {% if user.is_superuser %}
                        <a href="{% url 'main:delete_student' object.pk %}" type="button" class="btn btn-sm btn-outline-danger">Удалить</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="card-footer">
            {% if object.is_active %}
                {% if perms.main.change_student %}
                    <a class="btn btn-danger" href="{% url 'main:toggle_activity' object.pk %}">Деактивировать</a>
                {% endif %}
            {% else %}
                {% if perms.main.change_student %}
                    <a class="btn btn-success" href="{% url 'main:toggle_activity' object.pk %}">Активировать</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>