<div class="col-md-4">
    <div class="card mb-4 box-shadow h-100">
        <div class="card-body">
            <p class="card-text">
                {% if object.is_active %}
                    {{ object }}
                {% else %}
                    <span class="text-muted">{{ object }}</span>
                {% endif %}
            </p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="#" type="button" class="btn btn-sm btn-outline-secondary">К студенту</a>
                </div>
            </div>
        </div>
    </div>
</div>